/* Resets */
* {
    font-family: sans-serif;
}

/* Global Classes */
.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    font-size: 20px;
    
}

/* Custom Styles */
header h3 {
    margin: 5px;
    color: rgb(46, 160, 71);
}

/* .start-warp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#title {
    color: red !important;
}

.answer-alert {
    border-top: 1px solid #aaa;
    padding-top: 5px;
    font-style: italic;
    color: #999;
    opacity: 0;
    transition: opacity 1s;
}

.answer-alert.show {
    opacity: 1;
}



/* Message pop up when time runs out */
#message {
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 25px;
    margin: 0 auto;
    display: none;
}