/* Resets */
* {
    font-family: sans-serif;
}

/* Global Classes */
.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    font-size: 20px;
    
}

/* Custom Styles */
header h3 {
    margin: 5px;
    color: #e23f3f;
}

/* .start-warp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#title {
    color: rgb(115, 37, 204);
    font-weight: bold;
    font-size: 40px;
}

#intro {
    font-weight: bold;
    font-size: 30px;
}

#start, #save-score {
    border-radius: 5px;
    color: lightskyblue;
    background-color: blue;
    cursor: pointer;
    font-size: 25px;
}

#start:hover {
    color: pink;
}

/* .choices {
    border-radius: 5px;
    color: lightskyblue;
    background-color: blue;
    cursor: pointer;
} */

/* .question-text, .choices {
    text-align: center;

    
} */

.question-text {
    font-size: 50px;
    color: rgb(115, 37, 204);
    text-align: center;


}

.choices {
    font-size: 35px;
    color: red;
    text-align: center;

  
}
.answer-alert {
    border-top: 2px solid #aaa;
    padding-top: 5px;
    font-style: italic;
    color: #e23f3f;
    opacity: 0;
    transition: opacity 1s;
    font-size: 25px;
}

.answer-alert.show {
    opacity: 1;
}

#score-save {
    font-weight: bold;
    color: rgb(115, 37, 204);

}


/* Message pop up when time runs out */
#message {
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 25px;
    margin: 0 auto;
    display: none;
}